{% load static %}



<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand me-lg-5 me-0" href="#">
            <img src="{% static 'images/39757.png' %}" class="logo-image img-fluid" alt="templatemo pod talk">
        </a>

        <form action="#" method="get" class="custom-form search-form flex-fill me-3" role="search">
            <div class="input-group input-group-lg">
                <input name="search" type="search" class="form-control" id="search" placeholder="Search Podcast"
                    aria-label="Search">

                <button type="submit" class="form-control" id="submit">
                    <i class="bi-search"></i>
                </button>
            </div>
        </form>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-lg-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home</a>
                </li>

              



                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>

            <div class="ms-4">
                <a href="#section_3" class="btn custom-btn custom-border-btn smoothscroll">Get started</a>
            </div>
        </div>
    </div>
</nav>



<section class="hero-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="text-center mb-5 pb-2">
                    <h1 class="text-white">Win Gift Cards</h1>

                    <p class="text-white">Get Your Gift Cards and win money today</p>

                    <a href="#section_2" class="btn custom-btn smoothscroll mt-3">Start listening</a>
                </div>
                
                <div class="owl-carousel owl-theme">
                    {% for i in heads %}
                    <div class="owl-carousel-info-wrap item">
                        <a href="{{ i.link }}"><img src="{{ i.image.url }}"></a>
                        
                            class="owl-carousel-image img-fluid" alt="">

                        <div class="owl-carousel-info">
                            <h4 class="mb-2">
                                
                                
                            </h4>

                            <a href="{{i.link}}" ><span class="badge"> {{ i.title }} </span> </a>
                        </div>

                        <div class="social-share">
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            
        </div>
    </div>
</section>